/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/* Colors */

body {
  box-sizing: border-box;
  background-color: #fff;
}

.container {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #111827;
}

a {
  text-decoration: none;
  color: #000;
  color: initial;
  cursor: pointer;
}

.hero {
  padding-left: 112px;
  padding-right: 112px;
  height: 866px;
  background-image: url("img/Background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%
}

.hero .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px
  }

.hero .navbar .left {
      display: flex;
      align-items: center;
      gap: 40px
    }

.hero .navbar .left .left-nav {
        display: flex;
        gap: 16px
      }

.hero .navbar .left .left-nav .left-nav-item {
          padding: 4px;
          font-size: 14px;
          line-height: 20px;
          font-weight: 600
        }

.hero .navbar .left .left-nav .left-nav-item:hover {
            color: #7c3aed;
          }

.hero .navbar .badges {
      display: flex;
      gap: 12px
    }

.hero .navbar .badges .nav-collapse {
        display: none;
      }

.hero .container {
    display: flex;
    gap: 20px
  }

.hero .container .content {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding-top: 168px
    }

.hero .container .content .title {
        font-size: 60px;
        line-height: 72px;
        font-weight: 700;
        margin: 0;
      }

.hero .container .content .desc {
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
        color: #374151;
      }

.hero .container .content .btns {
        margin-top: 16px;
        display: flex;
        gap: 8px
      }

.hero .container .content .btns .btn {
          padding: 16px 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          font-size: 16px;
          line-height: 24px;
          font-weight: 600;
          color: #7c3aed;
          border-radius: 8px;
        }

.hero .container .content .btns .btn-bg {
          color: #fff;
          background-color: #7c3aed;
        }

.hero .container .phone {
      padding: 84px;
    }

.logoClouds {
  padding: 0 112px;
  margin: 16px 0
}

.logoClouds .container {
    border-bottom: 1px solid #e5e7eb;
    border-top: 1px solid #e5e7eb;
    display: grid;
    grid-template-columns: -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content;
    grid-template-columns: max-content max-content max-content max-content max-content max-content;
    justify-content: center;
    grid-gap: 40px;
    gap: 40px;
    padding: 24px 0
  }

.logoClouds .container .item {
      padding: 15px 0;
    }

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 112px
}

.features .heading {
    max-width: 800px;
    margin-bottom: 64px
  }

.features .heading .title {
      font-size: 48px;
      line-height: 60px;
      font-weight: 700;
      text-align: center;
    }

.features .heading .desc {
      font-size: 18px;
      line-height: 28px;
      font-weight: 400;
      text-align: center;
    }

.features .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 60px 30px;
    gap: 60px 30px
  }

.features .container .item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 8px
    }

.features .container .item svg {
        margin-bottom: 16px;
      }

.features .container .item .title {
        font-size: 30px;
        line-height: 40px;
        font-weight: 700;
        text-align: center;
      }

.features .container .item .desc {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: #374151;
        text-align: center;
      }

.testimonial {
  background-color: #d5fafc;
  padding: 64px 112px 96px;
  display: flex;
  gap: 32px
}

.testimonial .left {
    background-image: url("img/icon.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: flex-end
  }

.testimonial .left .heading {
      padding: 60px 0 0 100px
    }

.testimonial .left .heading .testimonial-icon {
        position: absolute;
      }

.testimonial .left .heading .title {
        font-size: 48px;
        line-height: 60px;
        font-weight: 700;
      }

.testimonial .left .heading .desc {
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
      }

.testimonial .right {
    margin-top: 132px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

.testimonial .card {
    padding: 32px;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 30px
  }

.testimonial .card .card-logo {
      width: 112px;
      height: 32px;
    }

.testimonial .card .content {
      display: flex;
      gap: 16px
    }

.testimonial .card .content img {
        width: 16px;
        height: 13px;
      }

.testimonial .card .content .text {
        display: flex;
        flex-direction: column;
        gap: 24px
      }

.testimonial .card .content .text .desc {
          font-size: 18px;
          line-height: 28px;
          font-weight: 400;
        }

.testimonial .card .content .text .author {
          display: flex;
          flex-direction: column
        }

.testimonial .card .content .text .author .name {
            font-size: 18px;
            line-height: 28px;
            font-weight: 700;
          }

.testimonial .card .content .text .author .name-title {
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            color: #6b7280;
          }

.testimonial .section {
    width: 516px;
  }

.testimonial .hubspot {
    width: 320px;
  }

.testimonial .airbnb {
    width: 414px;
  }

.testimonial .strapi {
    width: 320px;
  }

.footer {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 64px 112px
}

.footer .left {
    display: flex;
    flex-direction: column;
    gap: 12px
  }

.footer .left img {
      margin-bottom: 12px;
      width: 32px;
      height: 32px;
    }

.footer .left .company {
      margin-top: 12px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: #d1d5db;
    }

.footer .left .links {
      display: grid;
      grid-template-columns: -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content max-content max-content max-content max-content;
      grid-gap: 24px;
      gap: 24px
    }

.footer .left .links .item {
        color: #fff;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
      }

.footer .badges {
    display: flex;
    flex-direction: column;
    gap: 16px
  }

.footer .badges .title {
      color: #d1d5db;
      font-size: 18px;
      line-height: 28px;
      font-weight: 500;
    }

@media (min-width:576px) and (max-width:769px) {
  .hero {
    padding-left: 40px;
    padding-right: 40px;
    height: 1240px
  }

    .hero .left-nav-item {
      display: none;
    }

    .hero .nav-collapse {
      display: block !important;
    }

    .hero .container {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 80px 0;
      gap: 80px
    }

      .hero .container .content {
        padding-top: 0;
        padding-top: initial
      }

        .hero .container .content .title {
          font-size: 48px;
          line-height: 60px;
          font-weight: 700;
          margin: 0;
        }

      .hero .container .phone {
        padding: 0;
        padding: initial;
      }

  .logoClouds {
    padding: 0 40px
  }

    .logoClouds .container {
      grid-template-columns: -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content max-content max-content;
      gap: 10px 40px
    }

      .logoClouds .container .second {
        grid-column: 2;
      }
      .logoClouds .container .second2 {
        grid-column: 3;
      }

  .features {
    padding: 80px 40px
  }

    .features .heading {
      max-width: 688px
    }

      .features .heading .title {
        font-size: 36px;
        line-height: 45px;
      }

    .features .container {
      grid-template-columns: 300px 300px
    }
        .features .container .item .title {
          font-size: 24px;
          line-height: 32px;
        }

  .testimonial {
    padding: 64px 40px 80px;
    gap: 24px;
    flex-direction: column
  }

    .testimonial .left {
      gap: 40px;
      align-items: flex-start
    }

      .testimonial .left .heading {
        padding: 64px 0 0 20px
      }

        .testimonial .left .heading .title {
          font-size: 36px;
          line-height: 45px;
          font-weight: 700;
        }

    .testimonial .right {
      margin-top: 0;
      gap: 24px;
    }

    .testimonial .section {
      width: auto;
      width: initial;
    }

    .testimonial .hubspot {
      width: auto;
      width: initial;
    }

    .testimonial .airbnb {
      width: auto;
      width: initial;
    }

    .testimonial .strapi {
      width: auto;
      width: initial;
    }

  .footer {
    padding: 64px 40px;
  }
}

@media (max-width:575px) {
  .hero {
    padding-left: 20px;
    padding-right: 20px;
    height: 1240px
  }

    .hero .navbar {
      height: 72px;
    }

    .hero .left-nav-item {
      display: none;
    }

    .hero .badged-item {
      display: none;
    }

    .hero .nav-collapse {
      display: block !important;
    }

    .hero .container {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 48px 0 94px;
      gap: 80px
    }

      .hero .container .content {
        padding-top: 0;
        padding-top: initial
      }

        .hero .container .content .title {
          font-size: 36px;
          line-height: 45px;
          font-weight: 700;
          margin: 0;
        }

      .hero .container .phone {
        padding: 0;
        padding: initial;
      }

  .logoClouds {
    padding: 0 20px
  }

    .logoClouds .container {
      grid-template-columns: -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content;
      gap: 10px 40px;
    }

  .features {
    padding: 48px 20px
  }

    .features .heading {
      max-width: 335px
    }

      .features .heading .title {
        font-size: 36px;
        line-height: 45px;
      }

    .features .container {
      grid-template-columns: 300px
    }
        .features .container .item .title {
          font-size: 24px;
          line-height: 32px;
        }

  .testimonial {
    padding: 48px 20px;
    gap: 24px;
    flex-direction: column
  }

    .testimonial .left {
      gap: 32px;
      align-items: flex-start;
      background-size: 95px 78px
    }

      .testimonial .left .heading {
        padding: 32px 0 0 10px
      }

        .testimonial .left .heading .title {
          font-size: 30px;
          line-height: 40px;
          font-weight: 700;
        }

        .testimonial .left .heading .desc {
          font-size: 16px;
          line-height: 24px;
        }

    .testimonial .right {
      margin-top: 0;
      gap: 24px;
    }

    .testimonial .section {
      width: auto;
      width: initial;
    }

    .testimonial .hubspot {
      width: auto;
      width: initial;
    }

    .testimonial .airbnb {
      width: auto;
      width: initial;
    }

    .testimonial .strapi {
      width: auto;
      width: initial;
    }

  .footer {
    padding: 40px 20px;
    flex-direction: column;
    gap: 32px
  }

    .footer .left .links {
      grid-template-columns: -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content max-content max-content;
      gap: 12px;
    }
}
